<div class="detection-result">
    <% ApplicationHelper::PATIENT_DATA.each do |data| %>
        <div class="detection-result__group">
            <p class="detection-result__data"><%= data.to_s.capitalize %></p>
            <p class="detection-result__value"><%= (data == :birthdate) ? birthdate(patient.birth_day, patient.birth_month, patient.birth_year) : patient[data] %></p>
        </div>
    <% end %>
    <div class="detection-result__group" >
        <p class="detection-result__data result-table__title">Fundus Diagnostic Result</p>
        <div class="result-table__container">
            <%= render partial: 'dashboard/partials/result_table', locals: { record: patient.detection_record } %>
        </div>
    </div>
</div>