<footer class="page-footer">
    <p>&#169; <%= DateTime.now.year %> Fundus Detection System - DSC UI. All rights reserved.</p>
    <p>Made by <a href="https://kodehub.id" style="font-weight: bold; text-decoration: underline;">Kodehub ID</a></p>
</footer>