<div class="result__empty">
    <div class="result__empty__header">
        <p class="result__empty__header__title"><%= title %></p>
        <p class="result__empty__header__description"><%= description.html_safe %></p>
    </div>
    <lottie-player class="result__empty__animation" src="<%= lottie_url %>" background="transparent" speed="1" autoplay></lottie-player>
</div>