<table class="table">
    <thead class="table__header">
        <tr>
            <th>Diagnosis</th>
            <th>Status</th>
            <th>Probability</th>
        </tr>
    </thead>
    <tbody class="table__body" data-controller="partials--result-table">
        <% result.detection.each do |data, value| %>
            <%#
                Get Probability data which is located at Index 1
                Probability used for colorize rows
                Color changes are handled by StimulusJS
            %>
            <tr
                class="table__row"
                data-partials--result-table-target="resultTableRow"
                data-probability=<%= value[1].present? ? value[1].to_f : '' %>
            >
                <td><%= data.humanize.upcase %></td>
                <% value.each do |val| %><td><%= val %></td><% end %>
            </tr>
        <% end %>
    </tbody>
</table>