<div class="wrapper">
    <%=
        render 'dashboard/components/page_header',
                title: 'List of Detection Results',
                description: 'Fundus detection results recorded here.'
    %>
    <section class="contents-container">
    </section>
    <%= render 'dashboard/components/page_footer' %>
</div>